<div>
    <h2>Listado de Productos</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Código</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Miniaturas</th>
            </tr>
        </thead>
        <tbody id="products">
            {{!-- Aqui van los productos --}}
        </tbody>
    </table>
</div>